* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body {
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-size: 1rem;
    background: -webkit-linear-gradient(to bottom, #f7f3c6, #8b8962);
    background: linear-gradient(to bottom, #f7f3c6, #8b8962);
    font-weight: weight;
    font-style: normal;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}